<p id="notice"></p>
<div class='container px-5 px-sm-0'>
  <% if @book.errors.any? %>
     <h3> <%= @book.errors.count %>
        error prohibited this obj from being saved:</h3>
      </%>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'index', books: @books %>
     
    </div>
    
     <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/nature-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/nature-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/nature-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/nature-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/nature-5.jpg" alt="">
        </div>
      </div>
      <!-- ページネーションの要素 -->
      <div class="swiper-pagination"></div>
      <!-- ナビゲーションボタン （前、次） -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    
  </div>
</div>